<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Blog</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Full featured blogging platform
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/posts" target="_blank">Show Posts</a>
        <a class="btn btn-success btn-lg" href="/posts/create" target="_blank">Create Post</a>
      </p>
    </div>
  </div>
</section>
